$lightblue: rgba(218, 233, 254);
$blacktext: rgb(0, 0, 0);
$bgblack: rgba(28, 28, 28);
$bluetext: rgba(24, 71, 132);
$bluelink: rgba(2, 130, 249);
$whitetext: rgba(255, 255, 255);
$bgfooter: rgba(48, 48, 48);
$textgray: #555555;
$blue: rgb(2, 130, 249);
$blue-single: rgb(0, 169, 217);
$green-bg: rgb(85, 186, 89);
$greentext: rgb(186, 249, 128);
$bluetitle: rgb(0, 63, 94);